hpm/hpm/hpm
hpm-gcc/.bpkg/bpkg.sqlite3
hpm-gcc/hpm/build/bootstrap/src-root.build
hpm-gcc/hpm/hpm/*
hpm-gcc/build/bootstrap.build
hpm-gcc/build/bootstrap/*
hpm-gcc/build/root.build
hpm-gcc/buildfile
hpm-gcc/hpm/build/config.build
my-build-dir
compile_commands.json
output
my-advanced-config
my-clang-config
grid-check/tmp
camera-calibration/calibrate_openscad_camera/openscadCamParamsDoubledRes.xml
camera-calibration/calibrate_openscad_camera/openscadHandCodedCamParams.xml
camera-calibration/calibrate_openscad_camera/openscadNOROCamParams.xml
camera-calibration/camParamsScreenImages.xml
camera-calibration/charuco_16_11.svg
camera-calibration/goodParamsOverScreenImageParams
camera-calibration/screenPics/
camera-calibration/screenPics_list.xml
grid-check/big-ellipses.png
grid-check/edCircles.png
grid-check/edCircles_1200.png
grid-check/edgeImage.png
grid-check/f10.png
grid-check/f11.png
grid-check/f12.png
grid-check/f13.png
grid-check/f2.png
grid-check/f3.png
grid-check/f4.png
grid-check/f5.png
grid-check/f6.png
grid-check/f7.png
grid-check/f8.png
grid-check/f9.png
markers/nozzle_cap.stl
